---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-16 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-10 w-full space-y-1 text-center sm:w-1/2 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- Dometic -->
    <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 1033.583 318.543"
      ><title>
        Dometic logo
      </title>
      <g transform="translate(0.000000,256.000000) scale(0.05,-0.11)"
      fill="#6B7280" stroke="none">
      <path d="M660 1875 l-644 -646 209 -209 c116 -116 224 -217 241 -225 38 -18
      87 -19 117 -4 12 6 181 169 375 362 l352 352 388 -388 c213 -213 392 -387 399
      -387 14 0 411 408 429 442 18 31 17 93 0 126 -12 22 -914 927 -1151 1155 l-71
      67 -644 -645z"/>
      <path d="M2653 2307 c-135 -136 -214 -222 -218 -240 -4 -16 -5 -49 -2 -74 5
      -45 11 -52 361 -402 l356 -356 -393 -393 -392 -394 220 -214 c238 -232 257
      -245 330 -225 34 9 130 100 648 619 l607 607 -643 643 c-354 353 -648 642
      -653 642 -6 0 -105 -96 -221 -213z"/>
      <path d="M18010 2439 c-407 -47 -764 -319 -930 -709 -78 -184 -108 -432 -77
      -635 72 -466 404 -841 854 -962 89 -24 115 -27 288 -27 169 -1 200 2 280 23
      189 49 377 153 508 279 l68 66 -207 207 -208 208 -59 -55 c-99 -92 -251 -154
      -377 -154 -25 0 -76 7 -113 15 -269 57 -457 293 -458 575 -1 106 13 163 62
      265 164 343 605 432 880 178 l60 -56 205 204 c112 112 204 209 204 216 0 6
      -32 39 -71 72 -193 167 -409 264 -642 290 -108 12 -159 12 -267 0z"/>
      <path d="M7907 2405 c-488 -92 -865 -488 -938 -985 -18 -128 -7 -352 25 -473
      50 -193 166 -396 307 -536 344 -345 863 -437 1296 -231 133 63 232 132 327
      228 99 100 154 174 214 292 237 458 153 1019 -207 1380 -149 148 -334 256
      -528 307 -125 32 -372 41 -496 18z m387 -600 c271 -94 438 -385 381 -666 -25
      -129 -74 -220 -164 -310 -116 -115 -240 -169 -395 -169 -157 0 -278 51 -397
      170 -189 188 -229 443 -108 689 83 167 246 286 434 315 59 9 181 -6 249 -29z"/>
      <path d="M12558 2403 l-238 -3 0 -1088 c0 -1015 1 -1089 18 -1121 9 -19 30
      -44 45 -55 28 -21 38 -21 798 -24 l769 -2 0 228 c0 126 -3 257 -6 291 l-7 61
      -524 0 -523 0 2 188 3 187 428 3 427 2 0 240 0 240 -430 0 -430 0 0 140 0 140
      525 0 525 0 0 290 0 290 -572 -2 c-315 -2 -680 -4 -810 -5z"/>
      <path d="M14130 2183 c0 -205 2 -231 20 -268 35 -73 44 -75 337 -75 l260 0 6
      -227 c4 -124 7 -511 7 -860 l0 -633 310 0 310 0 0 860 0 860 310 0 310 0 0
      285 0 285 -935 0 -935 0 0 -227z"/>
      <path d="M16190 1265 l0 -1145 310 0 310 0 0 1145 0 1145 -310 0 -310 0 0
      -1145z"/>
      <path d="M9450 1281 c0 -615 3 -1133 6 -1150 l7 -31 283 0 284 0 2 657 3 657
      260 -647 259 -647 191 0 191 0 260 657 259 657 3 -662 2 -662 291 0 292 0 -7
      31 c-3 17 -6 533 -6 1145 l0 1114 -356 0 c-341 0 -358 -1 -390 -20 -18 -12
      -41 -40 -52 -63 -11 -23 -125 -322 -253 -665 -128 -343 -235 -619 -239 -615
      -4 4 -117 296 -250 648 -133 352 -252 651 -264 664 -44 49 -61 51 -431 51
      l-345 0 0 -1119z"/>
      <path d="M4836 2380 c-15 -5 -37 -17 -48 -27 -50 -45 -48 4 -48 -1168 l0
      -1097 528 5 c485 4 534 6 617 24 237 54 422 159 593 337 135 141 229 306 280
      494 24 89 26 113 26 292 0 180 -2 203 -26 293 -64 235 -207 455 -390 599 -181
      143 -363 220 -588 247 -100 13 -902 13 -944 1z m948 -585 c246 -64 416 -290
      416 -553 0 -163 -54 -296 -165 -407 -136 -137 -224 -165 -522 -165 l-203 0 0
      570 0 570 208 0 c154 0 223 -4 266 -15z"/>
      </g>
    </svg>

    <!-- Gardena -->
    <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 1033.583 318.543">
    <g transform="translate(0.000000,289) scale(0.05,-0.045)"
    fill="#6B7280" stroke="none">
    
    <path d="M0 3315 l0 -3315 10310 0 10310 0 0 3315 0 3315 -10310 0 -10310 0 0
    -3315z m19815 2546 c48 -22 79 -54 100 -103 13 -33 15 -294 15 -2443 0 -2149
    -2 -2410 -15 -2443 -21 -49 -52 -81 -100 -103 -39 -18 -324 -19 -9505 -19
    -9181 0 -9466 1 -9505 19 -48 22 -79 54 -100 103 -13 33 -15 294 -15 2443 0
    2149 2 2410 15 2443 21 49 52 81 100 103 39 18 324 19 9505 19 9181 0 9466 -1
    9505 -19z"/>
    <path d="M3870 4970 c-274 -35 -504 -210 -617 -469 -17 -42 -31 -77 -29 -79 2
    -1 39 6 83 17 178 46 347 49 531 11 l87 -18 72 45 c127 79 351 143 500 143 34
    0 46 5 59 25 15 23 15 27 -5 59 -28 44 -138 134 -221 179 -128 70 -313 105
    -460 87z"/>
    <path d="M3071 4959 c-155 -30 -281 -98 -396 -214 -50 -49 -105 -116 -124
    -147 -134 -229 -146 -486 -35 -737 l25 -56 39 73 c22 39 58 98 81 129 62 85
    205 221 287 273 61 39 72 50 77 80 14 79 69 233 113 309 25 45 74 116 109 158
    66 79 74 101 47 127 -17 18 -144 21 -223 5z"/>
    <path d="M4305 4432 c-38 -10 -98 -31 -133 -47 l-63 -28 62 -34 c147 -82 297
    -221 393 -366 43 -65 65 -88 84 -93 162 -33 336 -119 468 -231 40 -35 82 -63
    93 -63 40 0 54 42 48 139 -14 215 -92 387 -238 526 -77 73 -104 93 -188 135
    -112 57 -173 71 -321 76 -107 3 -149 0 -205 -14z"/>
    <path d="M6437 4300 c-387 -65 -662 -356 -738 -780 -20 -109 -17 -374 5 -484
    57 -292 218 -518 451 -631 123 -59 208 -77 380 -76 164 0 256 17 361 67 90 42
    162 106 202 181 28 52 31 55 32 29 0 -16 12 -78 26 -138 l26 -108 129 0 129 0
    0 530 0 530 -415 0 -415 0 0 -175 0 -175 235 0 236 0 -7 -37 c-10 -58 -73
    -170 -123 -222 -89 -91 -192 -131 -336 -131 -251 0 -416 134 -486 395 -31 114
    -32 365 -1 476 73 268 269 415 530 396 159 -11 266 -77 328 -202 l38 -76 45 5
    c25 3 117 8 203 12 l158 6 -6 27 c-12 48 -65 169 -102 230 -103 170 -297 301
    -514 345 -82 17 -285 20 -371 6z"/>
    <path d="M3475 4260 c-102 -14 -186 -40 -284 -86 -258 -122 -444 -345 -519
    -623 -22 -82 -25 -117 -25 -241 0 -124 3 -159 25 -241 75 -278 260 -501 520
    -624 138 -65 244 -88 403 -88 146 0 228 15 356 64 149 57 325 196 425 334 50
    69 118 214 146 310 20 70 23 101 22 250 0 155 -3 178 -27 258 -31 99 -88 218
    -141 292 -133 186 -358 334 -576 381 -84 18 -248 25 -325 14z"/>
    <path d="M7811 3328 c-173 -519 -316 -949 -319 -955 -3 -10 46 -13 226 -13
    l231 0 25 83 c14 45 40 132 59 192 l34 110 321 3 321 2 30 -97 c16 -54 42
    -141 58 -193 l29 -95 232 -3 c128 -1 232 1 232 4 0 4 -140 434 -312 956 l-312
    948 -271 0 -270 0 -314 -942z m687 160 c56 -203 102 -375 102 -383 0 -13 -30
    -15 -216 -15 -201 0 -216 1 -212 18 56 211 215 759 219 754 3 -4 52 -172 107
    -374z"/>
    <path d="M9362 3318 l3 -953 213 -3 212 -2 0 386 0 387 188 -6 c217 -6 267
    -17 334 -77 80 -70 90 -109 117 -471 10 -132 31 -199 66 -213 20 -7 425 -8
    425 -1 0 3 -9 18 -20 33 -34 45 -49 127 -60 312 -13 215 -26 326 -46 382 -32
    91 -100 159 -192 190 l-43 15 75 36 c162 80 246 229 246 436 0 126 -41 236
    -124 328 -59 66 -127 109 -224 141 l-77 27 -548 3 -547 3 2 -953z m991 564
    c70 -35 102 -94 102 -187 -1 -104 -43 -174 -127 -210 -30 -12 -84 -15 -288
    -15 l-250 0 0 221 0 220 258 -3 c246 -3 259 -4 305 -26z"/>
    <path d="M11100 3315 l0 -955 353 0 c524 1 663 17 822 95 152 75 264 194 350
    370 181 373 147 842 -82 1142 -89 117 -206 201 -345 248 -144 47 -236 55 -685
    55 l-413 0 0 -955z m933 556 c118 -46 213 -173 254 -337 24 -98 24 -342 -1
    -439 -41 -158 -117 -263 -229 -315 -84 -39 -161 -50 -359 -50 l-168 0 0 586 0
    586 223 -4 c202 -4 227 -6 280 -27z"/>
    <path d="M12890 3315 l0 -955 720 0 720 0 0 185 0 185 -505 0 -505 0 0 235 0
    235 435 0 435 0 0 170 0 170 -435 0 -435 0 0 185 0 185 495 0 495 0 0 180 0
    180 -710 0 -710 0 0 -955z"/>
    <path d="M14492 3318 l3 -953 199 -3 199 -2 -6 682 -5 683 28 -65 c48 -111
    121 -248 418 -782 l287 -518 218 0 217 0 0 955 0 955 -196 0 -195 0 3 -672 3
    -673 -62 127 c-34 70 -197 373 -363 673 l-302 545 -224 0 -224 0 2 -952z"/>
    <path d="M16426 3323 c-174 -522 -316 -951 -316 -956 0 -4 102 -7 228 -7 l227
    0 60 195 59 195 321 0 321 0 59 -195 58 -195 233 0 c129 0 234 1 234 3 0 1
    -141 430 -313 952 l-313 950 -271 3 -271 2 -316 -947z m689 163 c58 -208 105
    -382 105 -387 0 -5 -90 -9 -215 -9 -156 0 -215 3 -215 12 0 6 47 179 105 384
    58 205 105 376 105 380 0 27 22 -46 115 -380z"/>
    <path d="M17605 4256 c-55 -21 -111 -85 -124 -144 -18 -86 14 -165 88 -217 37
    -26 51 -30 111 -30 60 0 74 4 112 30 61 43 88 95 88 170 0 74 -27 127 -86 168
    -50 35 -129 44 -189 23z m165 -44 c150 -111 56 -352 -125 -318 -66 13 -134 97
    -135 169 0 61 48 137 105 163 39 18 121 11 155 -14z"/>
    <path d="M17600 4070 c0 -113 1 -120 20 -120 17 0 20 7 20 50 0 67 24 67 68 0
    21 -33 39 -50 53 -50 19 0 18 3 -11 45 l-31 46 31 29 c27 25 31 35 25 58 -3
    15 -10 31 -14 35 -12 12 -79 26 -123 27 l-38 0 0 -120z m135 60 c10 -31 -12
    -50 -56 -50 -38 0 -39 1 -39 35 0 35 0 35 44 35 36 0 46 -4 51 -20z"/>
    <path d="M2148 4202 c-238 -249 -281 -627 -106 -927 63 -108 192 -230 303
    -287 50 -25 106 -50 126 -56 l35 -9 -22 77 c-36 122 -47 229 -41 369 3 69 13
    155 21 191 l14 65 -35 53 c-84 128 -145 308 -158 472 -8 95 -16 110 -55 110
    -20 0 -41 -15 -82 -58z"/>
    <path d="M4720 3621 c46 -172 51 -385 15 -557 l-17 -81 37 -57 c80 -125 133
    -292 142 -450 6 -104 21 -136 60 -136 26 0 146 130 193 209 23 39 56 112 73
    163 28 85 31 104 31 228 0 148 -13 213 -64 326 -86 191 -274 359 -466 418
    l-22 7 18 -70z"/>
    <path d="M1952 3018 c-19 -19 -15 -172 7 -263 67 -275 262 -480 541 -566 63
    -20 97 -24 210 -24 145 0 226 18 333 72 l48 24 -82 49 c-45 28 -106 69 -136
    91 -75 58 -193 186 -248 269 -34 51 -54 72 -73 75 -75 15 -154 40 -221 67 -86
    36 -230 129 -280 182 -36 37 -76 47 -99 24z"/>
    <path d="M4620 2743 c-71 -135 -232 -307 -374 -401 l-79 -51 -22 -88 c-13 -48
    -37 -119 -54 -157 -40 -88 -127 -219 -180 -271 -32 -30 -41 -47 -41 -72 0 -42
    21 -53 103 -53 347 0 659 241 749 579 26 99 29 276 4 375 -17 71 -64 186 -75
    186 -3 0 -17 -21 -31 -47z"/>
    <path d="M3885 2179 c-166 -44 -384 -46 -547 -4 l-58 16 -46 -32 c-118 -81
    -304 -141 -474 -154 -52 -4 -101 -12 -107 -17 -30 -24 -14 -64 50 -125 105
    -101 222 -165 365 -200 97 -23 266 -20 365 6 152 40 307 141 407 264 46 56
    118 188 135 245 8 26 6 26 -90 1z"/>
    </g>
   </svg>

    </svg>
    <!-- Template -->
    <!-- <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 150 40"
      fill="none"
      ><title>
        Logo is used for demonstration purposes only and should be replaced in customized versions.
      </title>

    </svg> -->
    <!-- Third -->
    <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 150 39"
      fill="none"
      ><title>
        Logo is used for demonstration purposes only and should be replaced in customized versions.
      </title>
      <g clip-path="url(#n)">
        <path
          fill="#6B7280"
          d="M66.454 14.419v12.11s4.413 1.098 11.32 1.098c6.855 0 11.316-1.093 11.316-1.093V22.42s-4.793.943-11.364.943c-3.19 0-5.304-.375-6.44-.489 0-.992.003-3.792 0-4.793 1.272-.127 3.412-.493 6.488-.493 6.397.026 11.316.974 11.316.974v-4.146s-4.39-1.093-11.316-1.093c-6.977 0-11.32 1.097-11.32 1.097ZM94.464 27.356h4.955V13.55h-4.955v13.806ZM28.155 27.356h4.954V13.55h-4.954v13.806ZM56.17 27.351s-3.583-2.896-8.852-5.627c-1.468-.76-2.71-1.267-3.863-1.734v7.361h-4.797V13.576s4.06.786 8.669 3.176c5.269 2.73 8.847 5.378 8.847 5.378v-8.58h4.81V27.35H56.17ZM24.843 16.678l-12.29 11.045L.245 16.669l3.68-3.351s7.518 7.235 8.628 8.27c1.11-1.035 8.624-8.27 8.624-8.27l3.666 3.36ZM110.599 13.558h6.899c2.516-.004 4.098-1.284 4.679-1.896.586-.612 1.94-2.14 1.94-3.92V2.007c0-1.061.861-1.922 1.922-1.922h7.48c1.062 0 1.923.86 1.923 1.927v7.48a1.923 1.923 0 0 1-1.923 1.922h-5.736c-1.779 0-3.308 1.354-3.919 1.94-.612.58-1.892 2.162-1.897 4.68v6.898h-11.368V13.558Z"
        ></path>
        <mask
          id="b"
          width="27"
          height="28"
          x="123"
          y="12"
          maskUnits="userSpaceOnUse"
          style="mask-type:luminance"
        >
          <path fill="#fff" d="M123.16 12.746h26.765v26.843H123.16V12.746Z"
          ></path>
        </mask>
        <g mask="url(#b)">
          <path
            fill="#6B7280"
            d="M149.755 19.605c0-1.826-.739-3.46-1.914-4.649-1.175-1.192-2.827-1.913-4.653-1.913-3.736 0-6.715 3.045-6.715 6.676 0 .664.288 1.922.288 2.46a5.18 5.18 0 0 1-5.177 5.177h-5.545a1.92 1.92 0 0 0-1.922 1.922v7.48c0 1.062.861 1.922 1.922 1.922h7.48c1.062 0 1.923-.86 1.923-1.922v-5.544a5.177 5.177 0 0 1 5.177-5.178c.537 0 1.796.289 2.455.289 3.635 0 6.681-2.98 6.681-6.72Z"
          ></path>
        </g>
      </g>
      <defs>
        <clipPath id="n">
          <path fill="#fff" d="M0 0h150v38.764H0z"></path>
        </clipPath>
      </defs>
    </svg>
    <!-- Fourth -->
    <svg
      class="mx-auto h-auto w-24 py-3 sm:mx-0 md:w-32 lg:w-40 lg:py-5"
      viewBox="0 0 100 42"
      fill="none"
      ><title>
        Logo is used for demonstration purposes only and should be replaced in customized versions.
      </title>
      <path
        fill="#6B7280"
        d="M77.466.414v6.157H36.751v8.093h1.356V7.885h40.729V.415h-1.37ZM58.693 19.465v5.686H55.4v3.195h-3.085v3.556H14.367v1.314h39.248v-3.57h3.1v-3.181h3.292v-7h-1.314Z"
      ></path>
      <path
        fill="#6B7280"
        d="M14.491 10.002h9.366l1.26.083s7.567.442 9.255 7.387c1.687 6.945-3.473 12.244-11.013 12.327-7.54.083-8.965 0-8.965 0v-1.162l.997-.083c.221-.042.428-.07.65-.097.207-.041.415-.083.609-.194.235-.124.4-.36.484-.608.083-.236.083-.47.083-.72 0-.083.014-.152.014-.235V13.184a5.03 5.03 0 0 0-.028-.457c-.014-.138-.028-.277-.055-.415a.9.9 0 0 0-.153-.304 1.063 1.063 0 0 0-.304-.305c-.124-.083-.249-.124-.387-.18a5.89 5.89 0 0 0-.969-.262 15.285 15.285 0 0 0-.844-.139v-1.12Zm6.074 1.425V26.09s-.139 1.605.968 2.048c1.107.442 3.085.401 4.233.11 1.149-.29 5.34-1.577 5.05-8.812-.29-7.222-6.17-8.093-7.512-8.093-1.342 0-2.74.083-2.74.083ZM40.459 11.178v-1.176h9.712s6.848-.139 6.516 5.395c-.332 5.534-7.07 5.825-7.706 5.797-.637-.028-2.31 0-2.31 0v4.634c0 .36 0 .72-.014 1.08 0 .276-.014.58.097.843.11.263.373.43.622.526.277.11.567.18.872.221.152.028.318.042.484.056.608.055.968 0 .968 0v1.231h-9.13v-1.162l1.369-.11c.124-.015.25-.042.36-.07.207-.055.442-.124.608-.249.167-.124.25-.318.305-.512.055-.193.11-.429.11-.65V12.921s.111-.609-.276-1.08c-.388-.497-2.587-.663-2.587-.663Zm6.24.166v8.467h1.535s4.565.166 4.648-4.013c.07-4.178-2.822-4.786-6.184-4.454ZM62.47 9.988h9.462s5.783-.29 6.835 3.597c1.051 3.901-2.601 5.672-3.016 5.838-.402.166-1.854.692-1.854.692l4.994 6.35s1.107 1.397 2.2 1.826c1.107.429 1.909.318 1.909.318v1.176h-5.728l-3.25-4.565-3.446-4.303h-2.02v5.907s-.082 1.204.623 1.453c.692.25 2.31.318 2.31.318V29.8h-9.061v-1.176s1.868-.042 2.393-.457c.47-.36.43-1.065.43-1.065v-14.29s.027-.831-.485-1.163c-.512-.318-2.31-.484-2.31-.484l.013-1.176Zm6.1 1.356v8.231h1.854s4.538.028 4.621-4.385c0-.346-.014-.706-.083-1.038a3.554 3.554 0 0 0-.277-.844 3.231 3.231 0 0 0-.415-.65 2.313 2.313 0 0 0-.54-.498 5.42 5.42 0 0 0-.608-.36 3.257 3.257 0 0 0-.609-.235 4.942 4.942 0 0 0-.65-.152c-.194-.028-.387-.056-.58-.07-.153-.013-.291-.027-.444-.027-.207 0-.415.014-.622.014-.263.014-.526.014-.789.014h-.858Z"
      ></path>
      <path
        fill="#6B7280"
        d="M25.089 13.432s-9.684-.608-17.64 7.277C-.504 28.581.008 38.35.008 38.35h1.508s-.498-9.145 7.014-16.657c7.526-7.526 16.518-6.89 16.518-6.89l.042-1.37ZM18.088 38.473l-1.065.07c-.014-.61-.249-.914-.72-.914-.525 0-.802.47-.802 1.411 0 .54.07.913.222 1.107.138.194.346.29.608.29.416 0 .678-.276.775-.816l.982.056c-.069.525-.262.913-.58 1.19-.319.262-.72.4-1.19.4-.581 0-1.038-.193-1.398-.594-.36-.401-.54-.941-.54-1.647 0-.65.18-1.19.527-1.604.345-.415.816-.623 1.424-.623 1.038 0 1.62.553 1.758 1.674ZM22.46 41.267c-.58 0-1.038-.22-1.356-.664-.318-.442-.484-.968-.484-1.59 0-.637.166-1.163.484-1.591.319-.43.789-.637 1.384-.637.608 0 1.065.222 1.37.678.304.457.456.968.456 1.55 0 .636-.152 1.162-.47 1.59-.319.443-.775.664-1.384.664Zm.028-3.638c-.54 0-.803.47-.803 1.411 0 .94.263 1.411.803 1.411.512 0 .774-.47.774-1.41 0-.942-.262-1.412-.774-1.412ZM30.484 36.855v4.344h-.872l-1.701-2.933v.152c.014.069.014.138.014.194v2.6h-.789v-4.344h1.093l1.48 2.56c-.014-.125-.014-.222-.014-.29v-2.27h.789v-.014ZM36.516 37.809l-.871.29c-.111-.345-.36-.511-.734-.511-.4 0-.608.124-.608.387 0 .11.041.194.11.263.083.069.25.138.512.194.443.083.761.18.969.262.207.097.373.236.525.443.139.208.208.429.208.678 0 .387-.152.733-.457 1.024-.304.29-.747.429-1.342.429-.442 0-.83-.097-1.134-.305a1.419 1.419 0 0 1-.623-.899l.941-.208c.11.402.401.61.885.61.236 0 .402-.042.526-.14.11-.096.166-.193.166-.317a.343.343 0 0 0-.152-.29c-.11-.07-.304-.14-.595-.194-.553-.111-.94-.277-1.176-.47-.235-.195-.346-.485-.346-.873 0-.387.139-.705.415-.982.277-.263.664-.4 1.149-.4.83 0 1.383.331 1.632 1.009ZM42.23 36.855v.857h-1.08v3.486h-1.023v-3.486h-1.08v-.858h3.183ZM45.84 39.483V41.2h-1.023v-4.344h1.909c.346 0 .636.041.844.124.207.083.387.235.525.456.139.222.208.457.208.734 0 .526-.25.899-.747 1.12l.802 1.923h-1.12l-.664-1.715h-.734v-.014Zm0-1.854v1.107h.623c.207 0 .346-.014.443-.041a.476.476 0 0 0 .249-.194.563.563 0 0 0 .11-.332.563.563 0 0 0-.11-.332.47.47 0 0 0-.236-.18c-.082-.028-.248-.028-.47-.028h-.609ZM54.611 36.855v2.697c0 .443-.055.761-.152.983-.097.207-.29.387-.553.525-.263.139-.609.208-1.024.208-.415 0-.747-.056-.996-.18a1.201 1.201 0 0 1-.553-.526c-.125-.221-.18-.553-.18-.996v-2.698h1.107v2.698c0 .235.013.401.055.512.041.11.11.194.235.263a.82.82 0 0 0 .429.097c.194 0 .346-.028.47-.097a.505.505 0 0 0 .236-.25c.041-.11.055-.276.055-.525v-2.698h.871v-.014ZM61.086 38.473l-1.065.07c-.014-.61-.25-.914-.72-.914-.525 0-.802.47-.802 1.411 0 .54.07.913.221 1.107.139.194.346.29.61.29.414 0 .677-.276.774-.816l.982.056c-.07.525-.263.913-.581 1.19-.318.262-.72.4-1.19.4-.58 0-1.037-.193-1.397-.594-.36-.401-.54-.941-.54-1.647 0-.65.18-1.19.526-1.604.346-.415.816-.623 1.425-.623 1.038 0 1.619.553 1.757 1.674ZM66.578 36.855v.857H65.5v3.486h-1.037v-3.486h-1.08v-.858h3.196ZM70.175 36.855h-1.01v4.344h1.01v-4.344ZM74.838 41.267c-.581 0-1.038-.22-1.356-.664-.318-.442-.484-.968-.484-1.59 0-.637.166-1.163.484-1.591.318-.43.788-.637 1.383-.637.609 0 1.066.222 1.37.678.304.457.456.968.456 1.55 0 .636-.152 1.162-.47 1.59-.304.443-.775.664-1.383.664Zm.027-3.638c-.54 0-.802.47-.802 1.411 0 .94.263 1.411.802 1.411.512 0 .775-.47.775-1.41 0-.942-.263-1.412-.775-1.412ZM82.862 36.855v4.344h-.872l-1.702-2.933v.152c.014.069.014.138.014.194v2.6h-.788v-4.344h1.093l1.48 2.56c-.014-.125-.014-.222-.014-.29v-2.27h.789v-.014Z"
      ></path>
    </svg>
  </div>
</section>
